.question {
    background-color: #FCFCFC;
    box-shadow: 0 0 4px 2px #ccc;
    margin-top: 20px;
    padding: 0 10px 10px 10px;
    width: 100%;

    .menu {
        float: right;
        position: relative;
    }
    
    .title {
        float: left;
        padding-top: 8px;
    }
}
