.quiz-view-form {
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;

    .description {
        margin: 1em;
        text-align: center;
    }

    .control-section {
        margin: 2em 0 1em 0;
        text-align: center;
        width: 100%;

        button {
            margin: 1em;
        }
    }
}
