.todo-app {
    margin: auto;
    max-width: 350px;
}

form {
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 15px;
    text-align: center;
}

.list-group-item span {
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
    position: relative;
    top: 3px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: blue;
}